@charset "UTF-8";

   @font-face {
            font-family: 'GmarketSansBold';
            src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
            font-weight: normal;
            font-style: normal;
    }
    @font-face {
        font-family: 'GmarketSansMedium';
        src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    html,
    body {
        margin: 0;
        padding: 0;
    }
    /* header*/
    header{
        height: 60px; 
        background-color: #EE4E34;
        font-family: 'GmarketSansBold';
    }
    .header-inner > div > p{
        display: inline-block;  
        font-weight: bold;
    }
    .inner-fl > p{
        margin: 10px; 
        font-size: 30px;
    }
    .inner-fr > p{
        margin: 19px; 
        font-size: 15px;
    }
    .inner-fl, inner-fr{
        height: inherit;
        position: relative;
    }
    .inner-fl {
        float: left;
        padding-left: 15px;
    }
    .inner-fr {
        float: right;
        padding-right: 15px;
    }
    .btn-login::before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/burger/resources/img/ico_login.png) no-repeat 0 0;
    }
    .btn-email::before {
        content: '';
        vertical-align: middle;
        display: inline-block;
        width: 20px;
        height: 20px;
        background: url(/burger/resources/img/ico_email.png) no-repeat 0 0;
    }
    .header-inner a {
        text-decoration: none;
        color: #FCEDDA;
        margin-right: 20px;
    }

    .header-inner a:hover {
        cursor: pointer;
    }
    header::after {
        content: "";
        display: block;
        clear: both;
    }
    /* center */
    section{
        font-family: 'GmarketSansMedium';
    }
    aside{
        float: left;
        width: 180px; 
        background-color: #FCEDDA;  
    }
    article{
        float: left;
        width: calc(100% - 180px);
    }
    section::after {
      content: "";
      display: block;
      clear: both;
    }
    footer{
        height: 100px; 
        background-color: lightgray;
    }
    footer > p {
        padding: 40px; 
        font-size: 15px; 
        margin: 0;
    }
    /* 사이드바 */
	.left-side-bar a {
	    color: inherit;
	    text-decoration: none;
	}
	.left-side-bar > ul ul {
	    display: none;
	    position: absolute;
	    top: 0;
	    left: 100%;
	    background-color: #FCEDDA;
	}
   .left-side-bar {
        height: calc(100% - 60px); 
	    width: 180px;
	    float: left;
   }
   .left-side-bar > .status-ico {
       text-align: right;
       padding: 10px;
   }

   .left-side-bar > ul li {
       position: relative;
       list-style: none;
   }
   .left-side-bar ul {
       font-weight: bold;
       text-align: center;
       padding: 0;
   }
   .left-side-bar ul > li > a {
       display: block;
       padding: 10px;
       white-space: nowrap;
   }
   .left-side-bar ul > li:hover ul {
       display: block;
   }
   .left-side-bar ul > li:hover > a {
       color: white;
       background-color: black;
   }