@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

		html, body {
            margin: 0;
            padding: 0;
        }
        * {
            box-sizing: border-box;
        }
	.outbox{
		height: calc(100% - 162px);
       	font-family: GmarketSansMedium;
    }
	h1{
	margin-top:0px;
    color : #EE4E34;
	margin-left:200px;
    font-size:300%;
	font-family: GmarketSansBold;
	display:flex;
    width:800px;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 4px solid #EE4E34;
	}
  .form-group{
    align:center;
    color:black;
    margin-top: 10px;
    margin-left: 30%;
    font-size: 25px;
    width:960px;
    }
   
.join_bt{
  margin-top: 10px;
  margin-left: 30%;
}
  .btn_join, .btn_reset {
    padding:0.4rem 0.3rem 0.3rem 0.3rem;
    font-size:18px;
    background-color: #EE4E34;
    color:white;
    outline:none;
    border:none;
    margin-right:10px;
    width:80px;
    border-radius: 3px;
    cursor:pointer;
  }
.address_btn{
  background-color: #EE4E34;
  color:white;
  border:none;
  border-radius: 3px;
  cursor:pointer;
}
.address_btn:hover{
  color: #EE4E34;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.19);
}
.btn_join:hover{
  color: #EE4E34;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.19);
}
.btn_reset:hover{
  color: #EE4E34;
  background-color: white;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24),0 15px 30px 0 rgba(0,0,0,0.19);
}
label{
  margin-right:3px;
  color: #EE4E34;
}
input{
  color: black;
  font-size: 20px;
  border-radius: 3px;
  border: 2px solid #EE4E34;

}