@charset "UTF-8";

@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
        html, body {
            margin: 0;
            padding: 0;
        }
        * {
            box-sizing: border-box;
        }
        .adminbox{
        	height: calc(100% - 142px);
        	display:flex;
        	font-family: GmarketSansMedium;
        }
        .menustatuslist{
            min-width:1300px;
            margin:auto;
            padding: 10px 50px;
        }
        .menulist-title{
            font-size: 20px;
            color: black;
            font-weight:bold;
            padding-left:30px;
        }
        .search-menulist{
            display: flex;
            justify-content: center;
            align-items:center;
            margin:30px 0 30px 0;
        }
        .menuname{
            font-size: 18px;
            font-weight: bold;
            color: #EE4E34;
        }
        .searchmenu-keyword{
            margin:0 10px;
            outline: none;
            width: 200px;
            height: 28px;
            font-weight: bold;
            font-size: 17px;
            padding:0 0.5rem;
            border:2px solid #EE4E34;
            border-radius : 3px;
        }
        .searchBtn{
            background-color: #EE4E34;
            color:white;
            font-size:17px;
            height: 28px;
            outline:none;
            border:none;
            border-radius : 3px;
            font-family: GmarketSansMedium;
        }
        .menuinsert{
        	display:flex;
        	width:1650px;
        	justify-content: space-between;
        	align-items: flex-end;
        	border-bottom: 4px solid black;
        }
        .menuAdminTitle{
        	font-size:40px;
        }
        .menuinsertBtn{
			background-color: #EE4E34;
			color:white;
			height:30px;
			border-radius:3px;
			border:none;
			outline:none;
			font-size:17px;
			padding:0.2rem 0.5rem;
			margin-bottom: 10px;
			margin-right: 20px;
			font-family: GmarketSansMedium;
        }
        .tableHead{
        	width:1150px;
            margin-top:20px;
            margin:0 auto;
        }
        .tableBody{
        	width:1150px;
        	height:450px;
        	margin:0 auto;
            overflow:auto;
        }
        .menu-adminlist{
            width:1100px;
            border-spacing: 0;
        }
        .picAndMenu{
        	padding-left:110px;
        }
        .menu-adminlist > thead > tr > th{
            border-top:2px solid #EE4E34;
            border-bottom:2px solid #EE4E34;
            color:#EE4E34;
            height:40px;
            font-size: 17px;
        }
        .menu-adminlist > tbody > tr > td{
            height:45px;
            font-size: 16px;
            border-bottom:1px dotted gray;
        }
        .menu-adminlist > tbody > tr > td:not(.picAndMenu){
        	text-align: center;
        }
        #tempForm{
        	margin:0px;
        }
        .categoryBox{
        	text-align:center;
        	margin:10px 0;
        }
        .total, .burger, .side, .drink, .theend, .stop{
        	text-decoration: none;
        	font-size:25px;
        	margin:0 2rem;
        	color:lightgray;
        }
        .total:hover, .burger:hover, .side:hover, .drink:hover, .theend:hover, .stop:hover{
        	font-weight:bold;
        }
        .activeList{
        	color:#EE4E34;
        	font-weight:bold;
        }
        .soldOutStatus, .stopsale{
        	color:red;
        	font-style:italic;
        }
        .marginPic{
        	margin-right:10px;
        }
        .listphotoshow{
        	background-color:transparent;
        	color: #EE4E34;
        	border:1px solid #EE4E34;
        	border-radius: 5rem;
        	outline:none;
        	cursor:pointer;
        	font-weight:bold;
        	font-size:13px;
        	margin-right:20px;
        }
        .menuAdd, .menuSoldout, .menuResale, .menuBranchRemove, 
        .stopResale, .menuModify, .menuRemove, .menuStopCancle, .CategorySelectBtn, .CategoryCancleBtn{
        	background-color:transparent;
        	color: #EE4E34;
        	outline:none;
        	border:none;
        	font-size:18px;
        	cursor:pointer;
        	font-family: GmarketSansMedium;
        }
        .menuAdd:hover, .menuSoldout:hover, .menuResale:hover, 
        .menuBranchRemove:hover, .stopResale:hover, .menuModify:hover, 
        .menuRemove:hover, .menuStopCancle:hover, .CategorySelectBtn:hover, .CategoryCancleBtn:hover{
        	font-weight:bold;
        }
        .StopModify{
        	font-size:16px;
        	border: 2px solid #EE4E34;
        	border-radius: 3px;
        	outline:none;
        	width:80px;
        	padding-top:4px;
        	font-family: GmarketSansMedium;
        }
        .listTopBox{
        	display:flex;
        	justify-content: space-between;
        	align-items: center;
        	border-bottom: 4px solid black;
        	width:1650px;
        	margin:10px 0 30px 0;
        }
        .topTotal, .myBranchList{
        	text-decoration: none;
        	font-size:17px;
        	margin:0 0.5rem;
        	color:lightgray;
        }
        .activeTopList{
        	color: darkgray;
        	font-weight:bold;
        	font-size:20px;
        }
        .notAdd{
        	background-color:transparent;
        	color:lightgray;
        	outline:none;
        	border:none;
        	font-size:18px;
        	font-family: GmarketSansMedium;
        }
        
        
        
         .menu-register-box{
            width:1650px;
            margin:auto;
            display: flex;
            justify-content: center;
            padding: 0 20px;
        }
        .resetBtn, .registformBtn, .modifyBtn, .cancleBtn{
        	padding:0.4rem 0.3rem 0.3rem 0.3rem;
        	font-size:18px;
        	background-color: #EE4E34;
        	color:white;
        	outline:none;
        	border:none;
        	margin-right:10px;
        	width:80px;
        	font-family: GmarketSansMedium;
        	border-radius: 3px;
        }
        .menu-register-btn{
        	display: flex;
        	justify-content: space-between;
            margin-bottom: 20px;
            width:1650px;
            border-bottom: 4px solid black;
        }
        .tableforborder{
        	border:1px solid #EE4E34;
        	border-radius: 3px;
        	width:900px;
        	margin: 0 auto;
        }
        .registermenu-table{
            width:900px;
            border-spacing:0;
        }
        .registermenu-table > tbody > tr > th{
            height: 60px;
            font-size: 18px;
            background-color:lightgray;
        }
        .requiredSign{
        	color: red;
        	font-size: 16px;
        }
        .td-border{
        	border-bottom:1px dotted black;
        	font-size:17px;
        }
        input[name=menu_name]{
            width:350px;
            margin-left:20px;
        }
        input[name=menu_price]{
        	text-align: right;
        }
        input[name=menu_name],
        input[name=menu_price]{
        	height:30px;
        	outline:none;
        	font-size:17px;
        	padding:0 0.5rem;
        	font-family: GmarketSansMedium;
        }
        input[name=category],
        input[name=menu_price],
        input[name=file]{
        	margin-left:20px;
        	font-size:17px;
        }
        input[name=file]{
        	margin:10px 20px;
        	outline:none;
        	font-family: GmarketSansMedium;
        	border-radius: 3px;
        }
        .menuphotoshow{
        	padding:0 0.5rem 0.5rem 0.5rem;
        	width:480px;
        	height:350px;
        }       
        .photoChangeBtn{
        	margin:10px 20px;
        	font-family: GmarketSansMedium;
        	font-size: 17px;
        	padding: 0.2rem 0.5rem;
        	outline:none;
        	border:none;
        	border-radius: 3px;
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        