.supervisorChart{
		height: calc(100% - 142px);
       	font-family: GmarketSansMedium;
       	padding : 10px 0 10px 10px; 
	}
	.supervisorChartBox{
		width:1300px;
		margin:auto;
	}
	.chartBox{
		width:1300px;
		height:380px;
		padding: 0 10px;
	}
	.chartTitle{
		height:25px;
		font-size:18px;
	}
	.chartContent{
		width: 1300px;  
		height:350px;
	}
	#menu_sales_chart{
		width: 1300px;
		height:350px; 
	}
	.menu_sales_date_search_wrapper{
		width: 750px;
	   	height: 30px;
	    display: flex;
	    justify-content: center;
	    align-items: center;
	    margin-bottom: 10px;
	    font-family: GmarketSansMedium;
	}
	.menu_sales_date_search_wrapper::after{
		display:block;
		clear:both;
	}
	.menu_sales_month,
	.menu_sales_year{
		border : 2px solid #EE4E34;
		font-size: 17px; 
		border-radius : 3px; 
	    font-family: GmarketSansMedium;
	}
	.menu_sales_month+span,
	.menu_sales_year+span{
		font-size: 17px; 	
		margin: 0 10px 0 5px;
	}
	.menu_sales_btn{
		background-color : #EE4E34;
		border : none;
		border-radius : 3px;
		width : 70px;
		height: 28px;
		color: white;
		font-size: 17px;
		margin-left : 20px; 
		font-weight : bold;
	}
	button{
		cursor: pointer;
	}
	button:focus{
		outline: none;
	}