<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	이 파일은 데이터베이스 SQL구문을 보관해두는 파일이다.
	이를 mapper(매퍼) 파일이라고 부른다.
	
	mapper 파일은 테이블당 1개씩 만드는 것을 원칙으로 하며, 여러 개 있을 수 있다.
	mapper 파일간 충돌을 방지하기 위해 별칭(namespace)을 부여하도록 강제한다.  
-->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="branch">

	<!-- 
		insert를 수행할 수 있는 구문
		- id : 외부에서 구문을 호출하기 위한 이름(식별자)
		- parameterType : 외부에서 전달되는 데이터의 자료형
		
		myBatis에서는 데이터를 배치하기 위해 다음과 같은 형태의 식을 제공
		1. #{이름} : 전달된 데이터에서 해당하는 이름의 값을 자료형에 알맞게 동적으로 배치
		2. ${이름} : 전달된 데이터에서 해당하는 이름의 값을 어떠한 처리도 없이 정적으로 배치
	 -->
	<insert id="branch_join" parameterType="Branch">
		insert into branch(super_no, branch_no, branch_name, branch_id, branch_pw) values(
		#{super_no}, #{branch_no}, #{branch_name}, #{branch_id}, #{branch_pw})
	</insert>
	
	<!-- 시퀀스 -->
	<select id="branch_seq" resultType="int">
		select branch_seq.nextval from dual
	</select>
	
	<!-- 자동아이디 만들기 
	<insert id="branch_id" parameterType="branch">
		<selectKey keyColumn="Branch_id, Branch_pw" keyProperty="bgmg" resultType="String" order="BEFORE"> 
			select "bgmg" || branch_seq.nextval from dual </selectKey>
			insert into Branch(branch_id) values (#{branch_id})
	</insert>
	-->
	
	<!-- 로그인 -->
	<select id="login_auth" resultType="Branch" parameterType="map">
		select * from branch where branch_id = #{id} and branch_pw = #{pw}
	</select>
	
	<!-- supervisor도 여기서해주자 -->
	<select id="login_super" resultType="Supervisor" parameterType="map">
		select * from supervisor where super_id = #{id} and super_pw = #{pw}
	</select>
	
	<!-- 조회 -->
	<select id="branch_find" resultType="branch" parameterType="int">
		select * from branch where branch_no = #{branch_no}
	</select>
	
	<select id="branch_find2" resultType="branch" parameterType="String">
		select * from branch where branch_id = #{branch_id}
	</select>
	
	<!-- 수정 -->
	<update id="editBranch" parameterType="branch">
		update branch set branch_pw = #{branch_pw}
	</update>
	
	<!-- 탈퇴 -->
	<delete id="deleteBranch">
		delete from branch where branch_id = #{branch_id} and branch_pw = #{branch_pw}
	</delete>

</mapper>
