<?xml version="1.0" encoding="UTF-8"?>

<!-- 
	이 파일은 데이터베이스 SQL구문을 보관해두는 파일이다.
	이를 mapper(매퍼) 파일이라고 부른다.
	
	mapper 파일은 테이블당 1개씩 만드는 것을 원칙으로 하며, 여러 개 있을 수 있다.
	mapper 파일간 충돌을 방지하기 위해 별칭(namespace)을 부여하도록 강제한다.  
-->

<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
 
<mapper namespace="chart">

	<!-- 
		insert를 수행할 수 있는 구문
		- id : 외부에서 구문을 호출하기 위한 이름(식별자)
		- parameterType : 외부에서 전달되는 데이터의 자료형
		
		myBatis에서는 데이터를 배치하기 위해 다음과 같은 형태의 식을 제공
		1. #{이름} : 전달된 데이터에서 해당하는 이름의 값을 자료형에 알맞게 동적으로 배치
		2. ${이름} : 전달된 데이터에서 해당하는 이름의 값을 어떠한 처리도 없이 정적으로 배치
	 -->

	<select id ="branch_total_sales" parameterType="map" resultType="BranchTotalSales">
	
		select to_char(T.today_time, 'YYYY/MM') sales_time, sum(t.total_price) total_sales 
		    from today T inner join branch B on T.branch_no = B.branch_no 
		        where status='1' and to_char(T.today_time,'YYYY') = #{year} and B.branch_no=#{branch_no, jdbcType=INTEGER} 
		        	group by to_char(T.today_time,'YYYY/MM') 
		        		order by sales_time asc 
	</select>
			

	<select id="menu_total_sales" parameterType="map" resultType="MenuBranchMenuGoodsVo">
		select M.menu_name, M.menu_price, sum(G.count) count, to_char(T.today_time,'YYYY/MM') sales_time from menu M 
		    left outer join branch_menu BM on M.menu_no = BM.menu_no 
		        left outer join goods G on BM.bm_no = G.bm_no 
		            left outer join today T  on G.order_no = T.order_no  where status ='1' and to_char(T.today_time,'YYYY/MM') = #{day} and M.menu_no = #{menu_no}
		                group by to_char(T.today_time,'YYYY/MM'), M.menu_name, M.menu_price
 
	</select>
	
	<select id="eachBranch" parameterType="String" resultType="SalesSuperTotal">
 		select B.branch_no,B.branch_name,sum(total_price) total from 
		today T inner join branch B on T.branch_no=B.branch_no 
		where to_char(today_time,'YYYY/MM')=#{choiceDate}
		group by B.branch_no,B.branch_name
		order by B.branch_name asc
 	</select>
 	
 	<select id="branchNos" resultType="Branch">
 		select * from branch order by branch_name asc
 	</select>
 	
 	<select id="bmNoList" resultType="Integer" parameterType="int">
		select bm_no from branch_menu where branch_no = #{branch_no}
	</select>
 	
 	<select id="branchMenuChart" resultType="BranchMenuChart" parameterType="Map">
 		select M.menu_name, M.menu_price, sum(G.count) menu_total_prcie, to_char(T.today_time,'YYYY/MM') sales_time 
          from menu M 
    	   left outer join branch_menu BM on M.menu_no = BM.menu_no
    	   left outer join goods G on BM.bm_no = G.bm_no 
   	 	   left outer join today T  on G.order_no = T.order_no
 		 where T.status ='1' and to_char(T.today_time,'YYYY/MM') = #{sysdate} and BM.bm_no = #{bm_no} and BM.branch_no = #{branch_no}    
 		 group by to_char(T.today_time,'YYYY/MM'), M.menu_name, M.menu_price
 	</select>
 	
</mapper>
